@charset "utf-8";

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}


body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"] {
  width: 90%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;

  font-size: 20px;
  margin-left: 20px;
  margin-right: 10px;
  height: 40px;
  right: 10%;
}

input[type="radio"] {
  font-size: 30px;
}

dt {
  padding-top: 5px;
  padding-left: 20px;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

input[type="radio"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.contracts-menu input[type="text"] {
  padding-left: 40px;
}

.contracts-menu {
  position: relative;
  padding-left: 30px;
}

.contracts-menu i {
  position: absolute;
  left: 0;
  top: 32px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  padding-left: 60px;
}


.contracts {
  position: relative;
  padding-top: 100px;
}

.contracts-box {
  width: 60%;
  border-radius: 16px;
  border: 1px solid #ccc;
  margin: auto;
  margin-bottom: 50px;
}

.contracts-title p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.contracts-menu span {
  color: red;
}

.contracts2 {
  color: #066;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid #066;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  margin-left: 300px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: silver;
  margin-bottom: 15px;
}
.username {
  position: absolute;
  top: 7%;
  right: 10%;
  font-size: 24px;
}
.error-msg {
  color: red;
  margin-left: 5px;
}

.contracts-title{
display: flex;
}
