@charset "utf-8";

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}


body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h2 {
  font-weight: bold;
}
.table {
  padding: 30px;
}

table,
th,
td {
  border-width: solid 0.5px gray;
  border-collapse: collapse;
  padding: 5px 10px;
  font-weight: normal;
}
table {
  width: 100%;
  border: solid 0.5px gray;
}

tr:nth-child(even) {
  background: lightgray;
}



table a {
  padding: 2px;
}
.paging {
  text-align: center;
}
.paging a {
  width: 100%;
  padding: 10px;
}

button {
  border: none;
  color: blue;
  background-color: transparent;
  font-size: 15px;
}

span {
  color: red;
}

.login-button {
  padding-top: 30px;
  padding-bottom: 10px;
}
.signup {
  border-radius: 10px;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 20px;
}
.login {
  border-radius: 10px;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 20px;
}

.logout {
    border-radius: 10px;
      border: 1px solid #aaa;
      cursor: pointer;
      font-size: 20px;
      position:absolute ;
      right: 2%;
}

.loginbtn {
  display: none;
}
